body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1e1e1e;
  color: #f5f5f5;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  max-width: 400px;
}

.icon {
  font-size: 60px;
  margin-bottom: 10px;
}

h1 {
  font-size: 28px;
  margin: 10px 0;
}

p {
  color: #ccc;
  font-size: 16px;
}